@import './colors';

body {
    background-color: $very-light-grayish-blue;
    margin: 0;
    height: 100%;
}

.App {
    font-size: 1.2rem;
    max-width: 600px;
    background-color: $white;
    margin: 53px auto;
    padding: 30px 30px 0;
    border-radius: 15px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .title {
            margin: 0;
            font-size: 1.4rem;
        }
    
        .notification-count {
            font-size: 0.9rem;
            font-weight: bold;
            padding: 2px 10px;
            background-color: $very-dark-blue;
            color: $white;
            border-radius: 5px;
        }
    
        #all-read {
            margin-left: auto;
            font-size: 0.95rem;
            background-color: transparent;
            border: none;
            color: $dark-grayish-blue;
            cursor: pointer;
    
            &:hover {
                color: $very-dark-blue;
            }
        }
    }

    ul {
        list-style: none;
        margin-top: 30px;
        padding: 0;
    }
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    background-color: $very-light-grayish-blue;
}

@media (max-width: '600px') {
    body {
        background-color: white;
    };

    .App {
        margin: 0;
        border-radius: 0;
        padding-bottom: 30px;
    }
}