@import './colors';

li.notification {
    margin: 0;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
    padding-right: 15px;
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    align-items: center;

    &.new {
        background-color: $very-light-grayish-blue;
    }

    figure {
        height: 100%;
        margin: 10px;
        align-self: baseline;
    }

    .info {
        flex: 1;
        margin: 10px 5px;

        span {
            margin: 0 1px;
        }

    }
    
    .target-picture {
        cursor: pointer;
        margin-right: 10px;
    }

    .name {
        display: inline-block;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: $very-dark-blue;
        }
    }

    .action {
        color: $dark-grayish-blue;
    }

    .target-name {
        cursor: pointer;
        color: $dark-grayish-blue;
        font-weight: bold;

        &.group {
            color: $very-dark-blue;
        }

        &:hover {
            color: $very-dark-blue;
        }
    }

    .dot {
        width: 7px;
        height: 7px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
    }

    .date {
        margin: 2px 0 0;
        color: $light-grayish-blue-2;
    }

    .message {
        cursor: pointer;
        border: 1px solid $light-grayish-blue-1;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0 5px;
        color: $dark-grayish-blue;

        &:hover {
            background-color: $light-grayish-blue-1;
            border-color: transparent;
        }
    }
}
