@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) and (min-height: 500px) {
    html {
        overflow: hidden;
    }
}

/* @media (orientation: landscape) and (max-height: 500px) {
    .App {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
} */
