@import url("results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

@mixin list-item {

}

body {
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(0, 0%, 100%);
    font-weight: 800;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    position: absolute;
    bottom: 5px;
}

.container {
    width: 750px;
    height: 520px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 5px 5px 25px 0px hsl(241, 100%, 89%, 0.5);
}

.left-panel {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;

    h4 {
        font-size: 1.5rem;
        color: silver;
        font-weight: bold;
        margin: 0;
    }

    .circle {
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 100%;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 4.2rem;
            color: white;
            margin-top: 40px;
        }
    
        span {
            position: relative;
            top: -45px;
            color: rgba(192, 192, 192, 0.692);
            font-size: 1.1rem;
            font-weight: normal;
        }
    }

    h2 {
        color: white;
        font-size: 2rem;
        margin-top: -5px;
    }


    .explain {
        margin-top: -40px;
        font-size: 1.1rem;
        font-weight: normal;
        color: silver;
        padding: 0 50px;
    }
}

.right-panel {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;

    h4 {
        margin: 15px 10px;
        font-size: 1.5rem;
        text-align: start;
        padding-left: 30px;
    }

    ul {
        margin: 0;
        list-style: none;
        margin-left: -20px;
        margin-right: 20px;
        font-size: 1.15rem;

        li {
            height: 25px;
            padding: 15px 20px;
            background-color: hsla(0, 100%, 67%, 0.05);
            margin: 15px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            .left {
                background: url("assets/images/icon-reaction.svg") no-repeat;
                padding-left: 25px;
                color: hsla(0, 100%, 67%, 0.8);
            }

            .right {
                color: rgba(0, 0, 0, 0.388);
                
                span {
                    color: black;
                }
            }
        }

        li + li {
            background-color: hsla(39, 100%, 56%, 0.05);

            .left {
                color: hsl(39, 100%, 56%, 0.8);
                background: url("assets/images/icon-memory.svg") no-repeat;
            }
        }

        li + li + li {
            background-color: hsla(166, 100%, 37%, 0.05);

            .left {
                color: hsl(166, 100%, 37%, 0.8);
                background: url("assets/images/icon-verbal.svg") no-repeat;
            }
        }

        li + li + li +li {
            background-color: hsla(234, 85%, 45%, 0.05);

            .left {
                color: hsl(234, 85%, 45%, 0.8);
                background: url("assets/images/icon-visual.svg") no-repeat;
            }
        }
    }

    button {
        font-size: 1.15rem;
        font-weight: 500;
        text-align: center;
        margin: 25px auto 25px;
        width: 80%;
        padding: 17px 40px;
        background-color: hsl(224, 30%, 27%);
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all;

        &:hover {
            background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        }
    }
}

@media (max-width: 600px) {
    body {
        position: relative;
        height: 100%;
        background-color: white;
        align-items: baseline;
    }

    .container {
        height: auto;
        width: 100%;
        padding-bottom: 30px;

        .left-panel, .right-panel {
            width: 100%;
            padding: 0;
            justify-content: center;
            gap: 0;
        }

        .left-panel {
            border-radius: 0 0 30px 30px;
            gap: 30px;

            h4 {
                font-size: 1.2rem;
                margin-top: 30px;
            }

            .circle {
                width: 140px;
                height: 140px;
                margin-top: -10px;
                
                h1 {
                    font-size: 3.5rem;
                }

                span {
                    font-size: 1rem;
                }
            }

            h2 {
                font-size: 1.5rem;
            }
            
            .explain {
                font-size: 1rem;
                width: 60%;
                padding-bottom: 25px;
            }
        }

        .right-panel {
            padding: 20px 0;
            h4 {
                font-size: 1.2rem;
            }

            ul li {
                font-size: 1rem;
                padding: 15px;
            }

            button {
                font-size: 1.2rem;
                padding: 20px;
            }
        }
    }

    .attribution {
        font-size: 0.6rem;
    }
}