@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    min-height: 600px;

    #left-panel {
        width: 35%;
        height: 100%;
        background-image: url('/images/bg-main-desktop.png');
        background-size: cover;
        overflow: visible;
        cursor: default;

        .card1 {
            display: inline-block;
            width: 400px;
            height: 200px;
            background: url('/images/bg-card-front.png') no-repeat;
            background-size: contain;
            margin-left: 45%;
            margin-top: 190px;
            padding: 30px;
            border-radius: 10px;

            #card1-logo {
                width: 80px;
            }

            #card1-number {
                font-size: 1.8rem;
                color: white;
                letter-spacing: 3px;
                width: 100%;
                margin-top: 60px;
            }

            #card1-info {
                width: 100%;
                color: white;
                display: flex;
                justify-content: space-between;
                font-size: 0.8rem;
                letter-spacing: 2px;

                #card1-name {
                    text-transform: uppercase;
                }

                #card1-date {
                    display: inline-block;

                    #card1-year {
                        margin-left: 0;
                    }
                }
            }
        }

        .card2 {
            display: inline-block;
            width: 400px;
            height: 200px;
            background: url('/images/bg-card-back.png') no-repeat;
            background-size: contain;
            margin-left: 65%;
            margin-top: 30px;
            padding: 25px;
            border-radius: 10px;

            .card2-info {
                font-size: 0.9rem;
                letter-spacing: 2px;
                margin-top: 87px;
                text-align: end;
                margin-right: 30px;
                color: white;
            }
        }
    }

    #right-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
        height: 100%;

        form {
            margin-left: 360px;
            width: 380px;
            box-sizing: border-box;

            label,
            span {
                color: hsl(279, 68%, 19%);
                font-size: 0.7rem;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 11px;
                display: block;
                text-transform: uppercase;
                margin-top: 20px;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number]{
                -moz-appearance: textfield;
            }

            input {
                box-sizing: border-box;
                font-family: 'Space Grotesk', sans-serif;
                font-size: 1.1rem;
                width: 100%;
                padding: 10px;
                letter-spacing: 1px;
                border-radius: 10px;
                border: 1px solid hsl(270, 3%, 87%);

                &::placeholder {
                    color: silver;
                }

                &:focus {
                    border: 1px solid purple;
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            #card-info {
                white-space: nowrap;
                display: flex;

                .card-date {
                    width: 50%;
                    border: none;
                    margin: 0;

                    span,
                    label {
                        width: 100%;
                        display: block;
                    }

                    input[type='number'] {
                        display: inline-block;
                        width: 40%;
                        margin-right: 5px;
                        &#cvc {
                            width: 100%;
                        }
                    }
                }

                .card-data + .card-data {
                    margin-left: 25px;
                    width: 35%;
                }

                .clear {
                    clear: both;
                }

                label {
                    display: inline-block;
                    width: 40%;
                    font-weight: bold;
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            }

            .error {
                display: block;
                margin-top: 10px;
                color: rgb(199, 1, 51);
                letter-spacing: normal;
                text-transform: none;
                font-weight: normal;
            }
        }
    }
    .confirm-btn {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1.1rem;
        display: block;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 10px;
        background-color: hsl(278, 68%, 11%);
        color: white;
        cursor: pointer;
    }

    #complete {
        text-align: center;
        display: none;
        width: 385px;
        margin-left: 360px;

        .complete-title {
            font-size: 1.8rem;
            letter-spacing: 3px;
            color: hsl(278, 68%, 11%);
            text-transform: uppercase;
            font-weight: normal;
            margin-top: 30px;
        }

        .complete-text {
            color: hsl(279, 6%, 55%);
        }

        .confirm-btn {
            margin-top: 40px;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: -30px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1150px) {
    body {
        width: 100%;
        height: 100%;
        min-width: 320px;
    }

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;

        #left-panel {
            background-image: url(/images/bg-main-mobile.png);
            width: 100%;
            height: 250px;
            position: relative;
            text-align: center;

            .card1,
            .card2 {
                text-align: start;
                margin: 10px;
                position: absolute;
                width: 250px;
                height: 125px;
                padding: 18px;
            }

            .card1 {
                transform: translate(-63%, 67%);
                z-index: 10;

                #card1-logo {
                    width: 55px;
                }

                #card1-number {
                    margin-top: 35px;
                    font-size: 1.05rem;
                }

                #card1-info {
                    margin-top: 5%;
                    font-size: 0.6rem;
                }
            }

            .card2 {
                transform: translate(-45%, 12%);

                .card2-info {
                    margin-top: 54px;
                    margin-right: 15px;
                    font-size: 0.6rem;
                }
            }
        }

        #right-panel {
            width: 85%;
            max-width: 400px;
            align-items: center;

            form {
                margin: 0;
                width: 100%;
                padding-top: 60px;

                label,
                input,
                span {
                    font-size: 0.75rem;
                }

                input {
                    padding: 15px;
                    font-size: 1.1rem;
                }

                .confirm-btn {
                    font-size: 1.3rem;
                    padding: 18px;
                }
            }

            #complete {
                margin: 0;
                margin-top: 80px;
                width: 90%;

                img {
                    width: 90px;
                }

                .complete-title {
                    font-size: 2rem;
                }

                .complete-text {
                    font-size: 1.2rem;
                }

                .confirm-btn {
                    font-size: 1.2rem;
                    width: 100%;
                    margin: 50px auto 0;
                }
            }
        }
    }
}
